html{
  background: url("online-marketing.png") no-repeat center center fixed;
  background-size: 100vw 100vh;
}
.content{
  width: 450px;
  height: 350px;
  position: absolute;
  font-size: 25px;
  margin: 16% 60% 25% 10%;
}
@media only screen and (max-width: 700px) {
  .content{
  width: 160px;
  height: 125px;
  position: absolute;
  margin: 55% 30% 10% 5%;
  font-size: 12px;
}
}
p{
 font-size: 16px;
}
@media only screen and (max-width: 700px) {
  p{
    font-size: 10px;
  }
}
.logo {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 200px;
  height: 100px;
}
@media only screen and (max-width: 700px) {
.logo {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 100px;
  height: 75px;
}
}
.side{
  color: white;
  position: fixed;
  top: 3%;
  left: 3%;
}
.custom-list {
   list-style: none;
   padding-left: 0;
}
.custom-list li {
   position: relative;
   padding-left: 20px;
}
.custom-list #blt1:before {
   content: ' ';
   width: 14px;
   height: 14px;
   position: absolute;
   background-image: url('social-media-bullet.png');
   background-size: cover;
   background-position: center;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
 }
 .custom-list #blt2:before {
    content: ' ';
    width: 14px;
    height: 14px;
    position: absolute;
    background-image: url('seo-bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .custom-list #blt3:before {
     content: ' ';
     width: 14px;
     height: 14px;
     position: absolute;
     background-image: url('chrome-bullet.png');
     background-size: cover;
     background-position: center;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
   }
   .custom-list #blt4:before {
      content: ' ';
      width: 14px;
      height: 14px;
      position: absolute;
      background-image: url('blogs-bullet.png');
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .custom-list #blt5:before {
       content: ' ';
       width: 14px;
       height: 14px;
       position: absolute;
       background-image: url('youtube-bullet.png');
       background-size: cover;
       background-position: center;
       left: 0;
       top: 50%;
       transform: translateY(-50%);
     }
