*{
  box-sizing: border-box;
  }
  .image {
   background-color: #490D40;
   background: url("ozaro-landing-page.jpg") no-repeat center center;
   background-size: cover;
   height: 750px;
   margin-top: 0px;

}

.main1 {

   background: url("web-development.png") no-repeat center center;
   background-size: cover;
   height: 950px;
   text-align: justify;
   width: 100%;
    margin: 0 auto;
   }
.ommain{
  margin: 25% 45%;
  width: 450px;
  height: 350px;
  position: absolute;
  font-size: 16px;
}
.content{
  text-align: center;
  margin-top: 25%;
}
h3{
  font-style:oblique;
}
@media only screen and (max-width: 750px) {

  .content{
    text-align: center;
    margin-top: 55%;
  }
  .main1 {

    background-color:white;
    height: 550px;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
     }
     .ommain{
       margin: 30% 40%;
       width: 250px;
       height: 350px;
       position: absolute;
       font-size: 10px;
     }
     h3{
       font-style:oblique;
     }
}

.logo{
  position: absolute;
  margin-top: 0;
  margin-left:0;
  height: 75px;
  width:250px;
}
nav {
  float: right;
  background-color:transparent;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background-color:transparent;
  color: #463f3f;
  text-decoration: none;

}
nav ul li a:hover {
  background: #f2f2f2;
  color: #fb5958;

}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;

  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    display: block;
    background-color:grey;
    color: #463f3f;
    text-decoration: none;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  height: 75px;
  background-color: transparent;
}


.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}


  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    width:100%;
}

  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Helvetica Neue",sans-serif;
  }
  .container {
    flex: 1;
  }
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
    }


.custom-list {
   list-style: none;
   padding-left: 0;
}
.custom-list li {
   position: relative;
   padding-left: 20px;
}
.custom-list li:before {
   content: '';
   width: 14px;
   height: 14px;
   position: absolute;
   background-image: url('webdesign-bullet.png');
   background-size: cover;
   background-position: center;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
 }
