
body,html {
    overflow-x: hidden;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f9f9f9;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #302c2a;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:  #272422;
}
@media only screen and (max-width: 990px) {
	::-webkit-scrollbar {
		display: none;
	}
}
h1, h2, h3, h4, p,li,address{

  color: black !important;
}
p,li,address,a{
font-size: 20px;
}
.uk-card-title{
  color: #ff0000 !important;
  font-size: 20px;
  font-weight: bolder;
}
.uk-logo img {
  width: 50px;
}
#logo-header1{
   position: relative;
   top: -6px;
   margin-left: 6px;
 }

.uk-light .uk-navbar-nav>li>a {

  color: black !important;

  font-weight: 600;
  font-size: 14px;
}
.uk-navbar-right {
    margin-right: 2rem;
}
.uk-navbar-nav li {
   margin-left: 2rem;
 }
.uk-navbar-dropdown-nav li {
   margin-left: 0rem;
 }
.uk-light .uk-navbar-nav>li:hover>a {
  color: #D31027 !important;
}
.uk-navbar-dropdown-nav>li>a {
    color: black;
    font-weight: 600;
 }
.uk-navbar-dropdown-nav>li>a:hover {
     color: #D31027;
     font-weight: 900;
  }
.uk-navbar-toggle-icon svg {
  width: 30px;
  fill: #D31027;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.33));
}
.uk-nav-parent-icon>.uk-parent>a::after {
	background-color: black;
    border-radius: 60%;
 }
.uk-light .uk-navbar-nav>li>a {
   color: black !important;
 }
.uk-light .uk-navbar-nav>li.uk-active>a {
   color: #D31027;
   font-weight: bolder;
 }
.uk-light .uk-navbar-nav>li>a:hover {
   color: #D31027;
 }
 .uk-navbar-nav>li.uk-active>a {
   color: #D31027 !important;
   font-weight: bolder;
}
.uk-offcanvas-bar {
  background: #ffffff  !important;
}
 .uk-nav-default>li>a{
color:black !important;
    font-weight: bolder;
}
.uk-nav-sub>li>a{

 color:black !important;
   font-weight: bolder;
}
.uk-nav-default>li.uk-active>a {
  color: #D31027 !important;
  font-weight: bolder;
}
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
    font-size: 14px;
	color:black;
    font-weight: 600;
}
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
      color: #D31027;
}
.uk-navbar-container:not(.uk-navbar-transparent)  .uk-navbar-nav>li:hover>a {
  color: #D31027 !important;
}

 .border{
  width: 500px;
  height: 5px;
  background: #FF0000;
  margin: 40px auto;
}
@media only screen and (max-width: 768px) {
  {
  width: 300px;
  height: 5px;
  background: #FF0000;
  margin: 40px auto;
}
}
.topmargin {
  margin-top: 7rem !important;

 }
 .footer-legal {
    text-align: center;
    color: white;
    background: #272422;
    height: 4rem;
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
}

@media only screen and (max-width: 768px) {
.footer-legal span a{
		display: block;
	}
}

.mapouter{
  position:relative;
  text-align:right;
  height:500px
  width:700px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:700px;
  }
@media only screen and (max-width: 768px) {
iframe{
  width:100%;
  height:100%;
}
.mapcontent{
    font-size: 20px;
    width:auto;
}
}


.image-holder-right img {
        width: 500px;
  }


  .image-holder-whatwedo img{
      width: 800px;
  }
  #image-holder-first img{
    margin-right:100px;
    width:700px;
  }
  #image1{
      width: 500px;
  }
.align{
     text-align: justify;
}
h1 {
      font-weight: 700;
  }
  @media only screen and (max-width:768px) {
  .section-container {
    display: grid;
  }
}
  .section-container {
    padding: 10px;
    margin-bottom: 3rem;
}
.privacy-container {
  padding: 10px;
  margin-bottom: 3rem;
}
.red{
    color: #8f3445;
  }


.section-one{
background: linear-gradient(to top, #ffffff 0%, #f26d40 85%);
}
